.circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color:black;
    text-align:center;
    position: relative;
  }
  .circle .innerTEXT{
    position:relative;
    font-size: .6rem;
    position: absolute;
    top: -6px;
    right: -20px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: red;
    border-radius: 50%;
  }
  .iconoCart{
    color: #fff;
    font-size: 22px;;
    margin-top: -5px;;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }