@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, #c8ecf0 0%, #c8ecf0 100%);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.container{
  margin-top: 5%;
}

.imgCart{
  width: 55px; 
  height: 55px
}
.aca{
  float: right;
}
.alinear{
  text-align: center;
}